.container {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  90%;
  background-color: rgb(87, 74, 117);
  
  padding-top: 10px;
  padding-bottom: 10px;
}
.board .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.board .row .cell {
  margin: 0.1rem;
}
.alive{
  border: 1px outset rgb(218, 215, 215);
  width: 20px;
  height: 20px ;
  background-color: rgb(255, 255, 255);
  font-size: 10px;
}

.dead{
  border: 1px outset rgb(255, 255, 255);
  width: 20px;
  height: 20px ;
  font-size: 10px;
}
.options{
  display: flex;
  flex-direction: row;
  min-width: 940px;
  width: 80%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.grid_size{
  display: flex;
  width: 35%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  
}
.text_enabled{
  
  color: rgb(255, 255, 255);
  
}
.text_disabled{
  
  color: rgb(95, 88, 111);
  
}
 
#sizes {
  display: flex;
  flex-direction: column;
}

p{
  display: flex;
  width: 40%;
  font-family:  sans-serif;
  font-size: 20px;
  color: rgb(236, 235, 146);
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:  35%;
  height: 100%;
}


/* CSS */
.button_enable {
  background: #5E5DF0;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  height: 100%;
  word-break: break-word;
  border: 0;
  width: 45%;
  height: 100%;
 
 
}

#control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 50%;
  margin-bottom: 10px;
}

.slidecontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  width: 65%;
  height: 45%;
  font-size: 100%;
  
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 50%;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;  
}

#slider_disabled{
  -webkit-appearance: none;
  width: 95%;
  height: 50%;
  border-radius: 5px;  
  background: rgb(93, 83, 116);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;  
}
#slidecontainer_slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.button_disabled {
  
  background-color: rgb(93, 83, 116);
  box-shadow: rgb(93, 83, 116) 0 10px 20px -10px;
  box-sizing: border-box;
  color: rgb(95, 88, 111);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  height: 100%;
  word-break: break-word;
  border: 0;
  width: 45%;
  height: 100%;
}